<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bracket Standings</title>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #eeeeee;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>
<body>
<h2>Scoring</h2>
<div>
    The scoring works as follows:
    <li>Higher tiers of characters will be worth more points to guess correctly</li>
    <li>"Dies by": the week selected is the same as or after the week the character dies</li>
    <li>"Dies on": the week selected is the exact week the character dies</li>
    <li>"Lives": at the end of the season, if the character is still alive you get these points</li>
    <br>
    <h4>Notes about scoring:</h4>
    <li>"Dies" means the first episode we hear of the character's death</li>
    <li>If a character comes back to life, their week of death will be the latest week they die, or none if they are still alive at the end</li>
    <li>If a character becomes a white walker, they are still dead. The night king is the only "alive" white walker for our rules</li>
</div>
<h2>Payout Structure</h2>
<div>
    <li>1st Place: $140</li>
    <li>2nd Place: $30</li>
    <li>3rd Place: $10</li>
</div>
<br><br>
    <table>
        <TR>
           <TH class="c1">Place</TH>
           <TH class="c2">Bracket Name</TH>
           <TH class="c3">Points</TH>
           <TH class="c4"><SPAN>Potential Points</SPAN></TH>
        </TR>
    {% for bracket in bracket_list %}
        <TR>
           <TD class="c1">{{bracket.rank}}</TD>
           <TD class="c2"><a href="{{ url_for('show_bracket', bracket_name=bracket.bracket_name) }}">{{bracket.bracket_name}}</a></TD>
           <TD class="c3">{{bracket.points}}</TD>
           <TD class="c4"><SPAN>{{bracket.potential_points}}</SPAN></TD>
        </TR>
    {% endfor %}
    </table>

    <br><br>
    <a href="{{ url_for('home') }}">Home</a>

</body>
</html>